.Container {
  width: 100%;

  &.ContainerTypePage {
    min-height: 100vh;
  }

  &.ContainerTypeBlock {
    height: 100%;
  }

  &.ContainerTypeSection {
    margin: 0 auto;
    padding: 0;
    @apply sm:p-[1rem]
      lg:max-w-[1440px] p-0
      md:max-w-[1230px] p-0;
  }
}
