.Link {
  color: black;
  gap: 4px;
  @apply flex items-center justify-center text-sm font-medium;

  a {
    color: inherit;
    text-decoration: none;
  }

  &.LinkTypeText {
    &:hover {
      @apply text-primary;
      a {
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 1px;
      }
    }
  }

  &.LinkTypeButton {
  }
}

.LinkIcon {
  &-preffix {
  }
  &-suffix {
  }
}

.LinkContent {
}
