#header {
  .header {
    --headerHeight: 64px;
    height: var(--HeaderHeight);
    display: flex;
    .header-left {
    }
    .header-right {
      flex: 1;
      @apply flex justify-end;
      .nav-list{
        @apply flex justify-center items-center;
      }
    }
  }
}
