.comp-container {
  width: 100%;

  &.container-type__page {
    min-height: 100vh;
  }

  &.container-type__block {
    height: 100%;
  }

  &.container-type__section {
    margin: 0 auto;
    padding: 0;
    @apply 
      sm:p-[1rem]
      lg:max-w-[1440px] p-0
      md:max-w-[1230px] p-0;
  }
}