.main-layout {  
  --headerHeight: 64px;
  --footerHeight: 72px;
  div {
    box-sizing: border-box;
  }

  #content {
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  }



}